html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000; /* negro */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 40px;
}

.boton {
  display: block;
  background-color: #FFD700; /* dorado */
  color: black;
  text-decoration: none;
  padding: 15px 25px;
  margin: 20px auto;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px #000; /* leve sombra */
}


.boton:hover {
  background-color: #ffdf00;
  box-shadow: 0 0 15px #FFD700;
}

.boton:active {
  background-color: #fff27b; /* más brillante */
  box-shadow: 0 0 25px #FFD700;
  transform: scale(0.98);
}
